/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
/*===== VARIABLES CSS =====*/
:root{
    /*===== Colores =====*/
    --first-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;

    /*===== Fuente y tipografia =====*/
    --body-font:  'Open Sans', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
.content-briket{
    margin: 20px 0;
    padding-top: 50px;
}
.sign, .sign:hover, .sign:visited, .sign:active{
    text-decoration: none;
    color: #F49521;
}
h1{
    margin: 0;
}
.font_bold{
    font-weight: 600;
}
.font_light{
    font-weight: 400;
    color: #80868B;
    font-size:smaller;
}
.font_light2{
    font-weight: 400;
    color: #80868B;
    font-size:12px;
}
/*===== FORM =====*/
.l-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form__div{
    position: relative;
    height: 48px;
}
.form-control{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}
.form__label{
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

/*Input focus move up label*/
.form-control:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;

}
/*Input error label*/
.is-invalid+.form__label{
    color: #f15c59;
}
.is-invalid:focus + .form__label {
    color: #f15c59;
}
/* Box error */
.is-invalid{
    background-image: none !important;
}
.is-invalid:focus{
    box-shadow: none !important;
}

/* Error Message */
.error-message{
    color: #f15c59;
    font-size: 12px;
}
.error-message li{
    position: relative;
    left: -15px;
}
/*Input focus sticky top label*/
.form-control:not(:placeholder-shown).form-control:not(:focus)+ .form__label{
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/*Input focus*/
.form-control:focus{
    border: 1.5px solid var(--first-color);
    box-shadow: none;
}

/* Button */
.btn-primary{
    border-radius: .5rem;
    background: linear-gradient(to right, #F49521, #DA4C01);
    border: 0px;
}

/* Image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cpright {
    margin-top: 120px;
    font-size: 0.9285714285714286rem;
    line-height: 22px;
    color: #606060;
    padding: 15px 0 30px;
    text-align: center;
}

.alert{
    border: 1px solid rgba(255,66,79,.2);
    font-size: 12px;
    background-color: rgb(255, 244, 244);
    font: 'Open Sans', sans-serif;
    color: #212529;
}
